.board-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
  height: 100vh;
}

.board-image {
  width: 100%;
  height: 100%;
  display: block;
}


.tile {
  position: absolute;
}


.tile img {
  width: 100%;
  height: auto;
  display: block;
}

.tile-salida {
  top: 73.5%;
  left: 60%;
  width: 20%;
}


.tile-formosa-sur {
  top: 77%;
  left: 60.4%;
  width: 5.2%;
}

.tile-formosa-centro {
  top: 77%;
  left: 55.3%;
  width: 5.2%;
}

.tile-formosa-norte {
  top: 77%;
  left: 50.1%;
  width: 5.2%;
}

.tile-impuesto-redito {
  top: 77%;
  left: 44.9%;
  width: 5.4%;
}

.tile-rio-negro-sur {
  top: 77%;
  left: 39.5%;
  width: 5.2%;
}

.tile-belgrano {
  top: 54.5%;
  left: 10%;
  width: 14%;
}

