<div class="board-container">
  <div class="board">
    <img class="board-image" src="assets/board/board2.svg" />

    <!--CASILLAS-->
    <div class="tile-container">

      <div class="tile tile-salida" data-position="0" (click)="onTileClick(0)">
        <img src="assets/board/provinces/salida-0.svg" />
      </div>

      <!--FORMOSA-->
      <div class="tile tile-formosa-sur" data-position="1" (click)="onTileClick(1)">
        <img src="assets/board/provinces/formosa-sur.svg" />
      </div>

      <div class="tile tile-formosa-centro" data-position="2" (click)="onTileClick(2)">
        <img src="assets/board/provinces/formosa-centro.svg" />
      </div>

      <div class="tile tile-formosa-norte" data-position="3" (click)="onTileClick(3)">
        <img src="assets/board/provinces/formosa-norte.svg" />
      </div>

      <div class="tile tile-impuesto-redito" data-position="4" (click)="onTileClick(4)">
        <img src="assets/board/provinces/impuestos-reditos.svg" />
      </div>

      <!--RIO NEGRO-->
      <div class="tile tile-rio-negro-sur" data-position="5" (click)="onTileClick(5)">
        <img src="assets/board/provinces/rio-negro-sur.svg" />
      </div>

      <div class="tile tile-rio-negro-norte" data-position="6" (click)="onTileClick(6)">
        <img src="assets/board/provinces/rio-negro-norte.svg" />
      </div>

      <div class="tile tile-premio" data-position="7" (click)="onTileClick(7)">
        <img src="assets/board/provinces/premio-ganadero-7.svg" />
      </div>

      <div class="tile tile-petrolera" data-position="8" (click)="onTileClick(8)">
        <img src="assets/board/provinces/petrolera.svg" />
      </div>

      <!--SALTA-->
      <div class="tile tile-salta-sur" data-position="9" (click)="onTileClick(9)">
        <img src="assets/board/provinces/salta-sur.svg" />
      </div>

      <div class="tile tile-destino-10" data-position="10" (click)="onTileClick(10)">
        <img src="assets/board/provinces/destino-10.svg" />
      </div>

      <div class="tile tile-salta-centro" data-position="11" (click)="onTileClick(11)">
        <img src="assets/board/provinces/salta-centro.svg" />
      </div>

      <div class="tile tile-belgrano" data-position="12" (click)="onTileClick(12)">
        <img src="assets/board/provinces/belgrano.svg" />
      </div>

      <div class="tile tile-salta-norte" data-position="13" (click)="onTileClick(13)">
        <img src="assets/board/provinces/salta-norte.svg" />
      </div>

      <div class="tile tile-comisaria" data-position="14" (click)="onTileClick(14)">
        <img src="assets/board/provinces/comisaria-14.svg" />
      </div>

      <div class="tile tile-suerte-15" data-position="15" (click)="onTileClick(15)">
        <img src="assets/board/provinces/suerte-15.svg" />
      </div>

      <div class="tile tile-bodega" data-position="16" (click)="onTileClick(16)">
        <img src="assets/board/provinces/bodega.svg" />
      </div>

      <!--MENDOZA-->
      <div class="tile tile-mendoza-sur" data-position="17" (click)="onTileClick(17)">
        <img src="assets/board/provinces/mendoza-sur.svg" />
      </div>

      <div class="tile tile-san-martin" data-position="18" (click)="onTileClick(18)">
        <img src="assets/board/provinces/san-martin.svg" />
      </div>

      <div class="tile tile-mendoza-centro" data-position="19" (click)="onTileClick(19)">
        <img src="assets/board/provinces/mendoza-centro.svg" />
      </div>

      <div class="tile tile-mendoza-norte" data-position="20" (click)="onTileClick(20)">
        <img src="assets/board/provinces/mendoza-norte.svg" />
      </div>

      <div class="tile tile-descanso" data-position="21" (click)="onTileClick(21)">
        <img src="assets/board/provinces/descanso-21.svg" />
      </div>

      <div class="tile tile-mitre" data-position="22" (click)="onTileClick(22)">
        <img src="assets/board/provinces/bartolome-mitre-22.svg" />
      </div>

      <!--SANTA FE-->
      <div class="tile tile-santa-fe-sur" data-position="23" (click)="onTileClick(23)">
        <img src="assets/board/provinces/santafe-sur.svg" />
      </div>

      <div class="tile tile-santa-fe-centro" data-position="24" (click)="onTileClick(24)">
        <img src="assets/board/provinces/santafe-centro.svg" />
      </div>

      <div class="tile tile-destino-25" data-position="25" (click)="onTileClick(25)">
        <img src="assets/board/provinces/destino-25.svg" />
      </div>

      <div class="tile tile-santa-fe-norte" data-position="26" (click)="onTileClick(26)">
        <img src="assets/board/provinces/santafe-norte.svg" />
      </div>

      <div class="tile tile-urquiza" data-position="27" (click)="onTileClick(27)">
        <img src="assets/board/provinces/urquiza-27.svg" />
      </div>

      <div class="tile tile-libre-estacionamiento" data-position="28" (click)="onTileClick(28)">
        <img src="assets/board/provinces/libre-estancionamiento-28.svg" />
      </div>

      <!--TUCUMAN-->
      <div class="tile tile-libre-tucuman-sur" data-position="29" (click)="onTileClick(29)">
        <img src="assets/board/provinces/tucuman-sur.svg" />
      </div>

      <div class="tile tile-libre-tucuman-norte" data-position="30" (click)="onTileClick(30)">
        <img src="assets/board/provinces/tucuman-norte.svg" />
      </div>

      <div class="tile tile-libre-ingenio" data-position="31" (click)="onTileClick(31)">
        <img src="assets/board/provinces/ingenio-31.svg" />
      </div>

      <!--CÓRDOBA-->
      <div class="tile tile-cordoba-sur" data-position="32" (click)="onTileClick(32)">
        <img src="assets/board/provinces/cordoba-sur.svg" />
      </div>

      <div class="tile tile-cordoba-centro" data-position="33" (click)="onTileClick(33)">
        <img src="assets/board/provinces/cordoba-centro.svg" />
      </div>

      <div class="tile tile-cordoba-norte" data-position="34" (click)="onTileClick(34)">
        <img src="assets/board/provinces/cordoba-norte.svg" />
      </div>

      <div class="tile tile-marche-preso" data-position="35" (click)="onTileClick(35)">
        <img src="assets/board/provinces/marche-preso-35.svg">
      </div>

       <!--BUENOS AIRES-->

      <div class="tile title-suerte-36" data-position="36" (click)="onTileClick(36)">
        <img src="assets/board/provinces/suerte-36-1.svg" />
      </div>

      <div class="tile title-bsas-sur" data-position="37" (click)="onTileClick(37)">
        <img src="assets/board/provinces/bsas-sur.svg" />
      </div>

      <div class="tile title-destino-38" data-position="38" (click)="onTileClick(38)">
        <img src="assets/board/provinces/destino-38-1.svg" />
      </div>

      <div class="tile title-bsas-centro" data-position="39" (click)="onTileClick(39)">
        <img src="assets/board/provinces/bsas-centro.svg" />
      </div>

      <div class="tile title-bsas-norte" data-position="40" (click)="onTileClick(40)">
        <img src="assets/board/provinces/bsas-norte.svg" />
      </div>

      <div class="tile title-impuestos-ventas" data-position="41" (click)="onTileClick(41)">
        <img src="assets/board/provinces/impuestos-ventas.svg" />
      </div>

      <!-- MAZOS DEL CENTRO DEL BOARD-->

      <div class="tile title-mazo-suerte">
        <img src="assets/board/provinces/suerte.svg">
      </div>

      <div class="tile title-mazo-destino">
        <img src="assets/board/provinces/destino.svg">
      </div>
    </div>

    <!-- For de jugadores para renderizar los peones de cada jugador con su color-->
      @if (game | async; as game) {
        @for (player of game.players; track player.id) {
              <img class="pieces" alt="pieces" [src]="gamePiecesSvg[player.color]" [ngStyle]="getPiecePosition(player.position)"/>
            }
      }




<!--   Img harcodeadas de las fichas x saber  como anotar las cordenadas  -->

    <img class="pieces" alt="RED" [src]="gamePiecesSvg['BLACK']"
         [style.left.%]="63"
         [style.top.%]="85" >

    <img class="pieces" [src]="gamePiecesSvg['RED']" [style.left.%]="58"
         [style.top.%]="85" alt="RED">

    <img class="pieces" [src]="gamePiecesSvg['BLUE']" [style.left.%]="53"
         [style.top.%]="85" alt="BLUE">

    <img class="pieces" [src]="gamePiecesSvg['WHITE']" [style.left.%]="47.5"
         [style.top.%]="85" alt="RED">

    <img class="pieces" [src]="gamePiecesSvg['GREEN']" [style.left.%]="42.5"
         [style.top.%]="85" alt="RED">

    <img class="pieces" alt="RED" [src]="gamePiecesSvg['BLACK']"
         [style.left.%]="37"
         [style.top.%]="85" >










  </div>
</div>
