.board-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
  height: 100vh;
}

.board-image {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}


.tile {
  position: absolute;
}

.tile:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}


.tile img {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

.tile-salida {
  top: 73.5%;
  left: 59.9%;
  width: 18.7%;
}


.tile-formosa-sur {
  top: 77%;
  left: 60.4%;
  width: 5.2%;
}

.tile-formosa-centro {
  top: 77%;
  left: 55.3%;
  width: 5.2%;
}

.tile-formosa-norte {
  top: 77%;
  left: 50.1%;
  width: 5.2%;
}

.tile-impuesto-redito {
  top: 77%;
  left: 44.8%;
  width: 5.4%;
}

.tile-rio-negro-sur {
  top: 77%;
  left: 39.6%;
  width: 5.2%;
}

.tile-rio-negro-norte {
  top: 77%;
  left: 34.4%;
  width: 5.2%;
}

.tile-premio{
  top: 73.5%;
  left: 21.3%;
  width: 19%;
}

.tile-petrolera{
  top: 72.3%;
  left: 20.1%;
  width: 14.4%;
}

.tile-salta-sur{
  top: 67%;
  left: 22%;
  width: 5.5%;
  rotate: 60deg;
}

.tile-destino-10{
  top: 57.3%;
  left: 10.2%;
  width: 24%;
}

.tile-salta-centro{
  top: 57.9%;
  left: 16.9%;
  width: 5.5%;
  rotate: 60deg;
}

.tile-belgrano {
  top: 54.5%;
  left: 10.1%;
  width: 14%;
}

.tile-salta-norte{
  top: 49%;
  left: 11.8%;
  width: 5.45%;
  rotate: 60deg;
}

.tile-comisaria{
  top: 43.5%;
  left: 4.5%;
  width: 14.5%;
}

.tile-suerte-15 {
  top: 35.5%;
  left: 6%;
  width: 17%;
}

.tile-bodega{
  top: 31%;
  left: 8.5%;
  width: 17%;
}

.tile-mendoza-sur {
  top: 28.9%;
  left: 16.8%;
  width: 5.5%;
  rotate: 120deg;
}

.tile-san-martin {
  top: 22.2%;
  left: 13.9%;
  width: 16.6%;
}

.tile-mendoza-centro {
  top: 19.9%;
  left: 22%;
  width: 5.5%;
  rotate: 120deg;
}

.tile-mendoza-norte {
  top: 15.38%;
  left: 24.6%;
  width: 5.5%;
  rotate: 120deg;
}

.tile-descanso {
  top: 7.3%;
  left: 21.4%;
  width: 18.7%;
}

.tile-mitre{
  top: 7.4%;
  left: 28.5%;
  width: 16.9%;
}

.tile-santa-fe-sur{
  top: 9.7%;
  left: 39.3%;
  width: 5.5%;
  rotate: 180deg;
}

.tile-santa-fe-centro{
  top: 9.7%;
  left: 44.4%;
  width: 5.5%;
  rotate: 180deg;
}

.tile-destino-25 {
  top: 4.6%;
  left: 40.6%;
  width: 24%;
}

.tile-santa-fe-norte{
  top: 9.7%;
  left: 55%;
  width: 5.45%;
  rotate: 180deg;
}

.tile-urquiza {
  top: 7.5%;
  left: 54.7%;
  width: 16.7%;
}

.tile-libre-estacionamiento {
  top: 7.4%;
  left: 60.1%;
  width: 18.58%;
}

.tile-libre-tucuman-sur{
  top: 15.3%;
  left: 69.9%;
  width: 5.4%;
  rotate: -120deg;
}

.tile-libre-tucuman-norte{
  top: 19.7%;
  left: 72.5%;
  width: 5.4%;
  rotate: -120deg;
}

.tile-libre-ingenio{
  top: 21.8%;
  left: 69.3%;
  width: 17%;
  rotate: 120deg;
}

.tile-cordoba-sur {
  top: 28.7%;
  left: 77.6%;
  width: 5.4%;
  rotate: -120deg;
}

.tile-cordoba-centro {
  top: 33.1%;
  left: 80.3%;
  width: 5.4%;
  rotate: -120deg;
}

.tile-cordoba-norte{
  top: 37.7%; /* altura en el tablero*/
  left: 82.9%; /* anchura en el tablero*/
  width: 5.4%; /* tamaño de la casilla*/
  rotate: -120deg; /* rotación de la casilla*/
}

.tile-marche-preso{
  top: 43.3%;
  left: 81%;
  width: 14.5%;
}

.title-suerte-36{
  top: 46.6%;
  left: 77.1%;
  width: 16.9%;
}

.title-bsas-sur{
  top: 53.1%;
  left: 80.3%;
  width: 5.5%;
  rotate: -60deg;
}

.title-destino-38{
  top: 55.4%;
  left: 72%;
  width: 17%;
}

.title-bsas-centro{
  top: 62.2%;
  left: 75.1%;
  width: 5.5%;
  rotate: -60deg;
}

.title-bsas-norte{
  top: 66.6%;
  left: 72.5%;
  width: 5.5%;
  rotate: -60deg;
}

.title-impuestos-ventas{
  top: 71%;
  left: 70.1%;
  width: 5.5%;
  rotate: -60deg;
}

/*Cartas del centro del board*/

.title-mazo-suerte{
  top: 26.7%;
  left: 41.3%;
  width: 17.5%;
}

.title-mazo-destino{
  top: 62.7%;
  left: 41.3%;
  width: 17.5%;
}
