.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 300px;
}

.secondary-tittle{
  text-align: center;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*/usuario logeado/*/
.user-logged {
  position: absolute;
  top: 24px;
  left: 32px;
}


